@model IEnumerable<CallCenterCRM.Models.Classification>
@using CallCenterCRM.Interfaces
@inject IUserService userService

@{
    string typeIdentityId = "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier";
    string userIdentityId = GetUserClaim(typeIdentityId);

    var isAuthenticated = User.Identity.IsAuthenticated;

    string GetUserClaim(string type)
    {
        return User.Identities.First().Claims.First(c => c.Type == type).Value;
    }
}

<div class="table-responsive">
    @if (ViewBag.byClassification ?? false)
    {
        <div class="row">
            <div class="form-group">
                <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="StatisticsModerator"
               asp-route-userId=@userService.GetUserId(userIdentityId) asp-route-byClassification=@(true)>
                    Статистика по классам
                </a>
                <a class="btn btn-inverse-info" asp-area="" asp-controller="Home" asp-action="StatisticsModerator" asp-route-userId=@userService.GetUserId(userIdentityId)>
                    Статистика
                </a>
            </div>
        </div>
    }
    <button class="btn btn-export-excel" id="btnExport" onclick="ExportToExcel('xlsx')">
        Экспорт в Excel <i class="menu-icon mdi mdi-file-excel"></i>
    </button>
    <table id="statsTable" class="table table-striped" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>Классификации</th>
                <th>Количество прибытий</th>
                <th>Отношение к общему</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Applications.Count)
                    </td>
                    <td>
                        @(item.Applications.Count > 0 ? $"{(item.Applications.Count * 100 / ViewBag.countApps).ToString("N3")}%" : "0.000%")
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts {
    @{
		await Html.RenderPartialAsync("Scripts/_ExportExcelScriptsPartial");
	}
}
