@model CallCenterCRM.Models.Attachment

@{
	ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>

<h4>Attachment</h4>
<hr />
<form asp-action="Edit">
	<div class="row">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="Id" />
		<input type="hidden" asp-for="CreatedDate" />
		<div class="form-group col-md-4">
			<label asp-for="Type" class="control-label"></label>
			<input asp-for="Type" class="form-control" />
			<span asp-validation-for="Type" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="HashName" class="control-label"></label>
			<input asp-for="HashName" class="form-control" />
			<span asp-validation-for="HashName" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="Path" class="control-label"></label>
			<input asp-for="Path" class="form-control" />
			<span asp-validation-for="Path" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="OriginName" class="control-label"></label>
			<input asp-for="OriginName" class="form-control" />
			<span asp-validation-for="OriginName" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="Extension" class="control-label"></label>
			<input asp-for="Extension" class="form-control" />
			<span asp-validation-for="Extension" class="text-danger"></span>
		</div>
		<div class="form-group col-md-2 mt-3">
			<input type="submit" value="Сохранить" class="btn btn-success btn-rounded" />
			<a asp-action="Index" class="btn btn-secondary btn-rounded btn-fw mx-3">Назад</a>
		</div>
	</div>
</form>

@section Scripts {
    @{
		await Html.RenderPartialAsync("Scripts/_ValidationScriptsPartial");
	}
}
