@model CallCenterCRM.Models.Answer

@{
    ViewData["Title"] = "Confirm";
}

<h1>Подтверждать</h1>

<p>Вы уверены, что хотите подтвердить это?</p>
<div>
    <form asp-action="Confirm">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Да" class="btn btn-success btn-rounded btn-fw" /> 
        <a href="javascript:history.go(-1)" class="btn btn-secondary btn-rounded btn-fw">Назад</a>
    </form>
</div>
