@model CallCenterCRM.Models.Answer

@{
	ViewData["Title"] = "Create";
}

<h1>Создать</h1>

<h4>Answer</h4>
<hr />

<form asp-action="Create">
	<div class="row">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group col-md-4">
			<label asp-for="ResponsiblePerson" class="control-label"></label>
			<input asp-for="ResponsiblePerson" class="form-control" />
			<span asp-validation-for="ResponsiblePerson" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="Executor" class="control-label"></label>
			<input asp-for="Executor" class="form-control" />
			<span asp-validation-for="Executor" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="ResponseLetter" class="control-label"></label>
			<input asp-for="ResponseLetter" class="form-control" />
			<span asp-validation-for="ResponseLetter" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="AttachmentId" class="control-label"></label>
			<select asp-for="AttachmentId" class="form-control" asp-items="ViewBag.AttachmentId"></select>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="RegisterNumber" class="control-label"></label>
			<input asp-for="RegisterNumber" class="form-control" />
			<span asp-validation-for="RegisterNumber" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="Result" class="control-label"></label>
			<input asp-for="Result" class="form-control" />
			<span asp-validation-for="Result" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="Conclusion" class="control-label"></label>
			<input asp-for="Conclusion" class="form-control" />
			<span asp-validation-for="Conclusion" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="ApplicationId" class="control-label"></label>
			<select asp-for="ApplicationId" class="form-control" asp-items="ViewBag.ApplicationId"></select>
		</div>
		<div class="form-group col-md-12 mt-3">
			<input type="submit" value="Сохранить" class="btn btn-success btn-rounded" />
			<a asp-action="Index" class="btn btn-secondary btn-rounded btn-fw mx-3">Назад</a>
		</div>
	</div>
</form>

@section Scripts {
    @{
		await Html.RenderPartialAsync("Scripts/_ValidationScriptsPartial");
	}
}
