@model CallCenterCRM.Models.Application

<h1>Запрос на продление срока</h1>

<p>"Вы уверены, что хотите запросить продление срока выполнения этой задачи?</p>

<div>
    <form asp-action="AskDelay">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Да" class="btn btn-warning btn-rounded btn-fw" /> 
        <a href="javascript:history.go(-1)" class="btn btn-secondary btn-rounded btn-fw">Назад</a>
    </form>
</div>
