@model CallCenterCRM.Models.Application

@{
	ViewData["Title"] = "Create";
}

<h1>Создать</h1>

<h4>Application</h4>
<hr />
<form asp-action="Create">
	<div class="row">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group col-md-4">
			<label asp-for="ClassificationId" class="control-label"></label>
			<select asp-for="ClassificationId" class="form-control" asp-items="ViewBag.ClassificationId">
				<option> - </option>
			</select>
		</div>
		<div class="form-group col-md-4">
			<label class="control-label">Направление</label>
			<input type="text" id="Direction" class="form-control" value="" disabled />
		</div>
		<div class="form-group col-md-4">
			<label class="control-label">Значение</label>
			<input type="text" id="Value" class="form-control" value="" disabled />
		</div>
		<div class="form-group col-md-4">
			<label asp-for="ExpireTime" class="control-label"></label>
			<input asp-for="ExpireTime" asp-format="{0:dd/MM/yyyy HH:mm}" class="form-control" value="@DateTime.Today.ToString("0:dd/MM/yyyy HH:mm")" />
			<span asp-validation-for="ExpireTime" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="RelevantApplications" class="control-label"></label>
			<input asp-for="RelevantApplications" class="form-control" />
			<span asp-validation-for="RelevantApplications" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="Type" class="control-label"></label>
			<select asp-for="Type" class="form-control" asp-items="Model.TypesList"></select>
			<span asp-validation-for="Type" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="Comment" class="control-label"></label>
			<input asp-for="Comment" class="form-control" />
			<span asp-validation-for="Comment" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="RecipientId" class="control-label"></label>
			<select asp-for="RecipientId" class="form-control" asp-items="ViewBag.RecipientId"></select>
			<span asp-validation-for="RecipientId" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="AttachmentId" class="control-label"></label>
			<select asp-for="AttachmentId" class="form-control" asp-items="ViewBag.AttachmentId"></select>
			<span asp-validation-for="AttachmentId" class="text-danger"></span>
		</div>
		<div class="form-group col-md-4">
			<label asp-for="ApplicantId" class="control-label"></label>
			<select asp-for="ApplicantId" class="form-control" asp-items="ViewBag.ApplicantId"></select>
			<span asp-validation-for="ApplicantId" class="text-danger"></span>
		</div>
		<div class="form-group col-md-12 mt-3">
			<input type="submit" value="Сохранить" asp-action="Create" class="btn btn-success btn-rounded" />
			<a asp-action="Index" class="btn btn-secondary btn-rounded btn-fw mx-3">Назад</a>
		</div>
	</div>
</form>

@section Scripts {
    @{
		await Html.RenderPartialAsync("Scripts/_ValidationScriptsPartial");
		await Html.RenderPartialAsync("Scripts/_Select2ScriptsPartial");
		await Html.RenderPartialAsync("Scripts/ClassificationScriptsPartial");
	}
}
