@model CallCenterCRM.Models.Application

@{
    ViewData["Title"] = "Delete";
}

<h1>Отклонить заявку</h1>

<p>Вы уверены, что хотите отклонить это?</p>
<div>
    <form asp-action="RejectMod">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Да" class="btn btn-danger btn-rounded btn-fw" /> 
        <a href="javascript:history.go(-1)" class="btn btn-secondary btn-rounded btn-fw">Назад</a>
    </form>
</div>
