@model CallCenterCRM.Models.Citydistrict

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Citydistrict</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-rounded btn-fw">Изменять</a> |
    <a asp-action="Index"  class="btn btn-secondary btn-rounded btn-fw">Назад</a>
</div>
